<% layout("layouts/boilerplate") %>
    <h1>Requests</h1>
    <% if(players.length == 0){ %>

        <div class="my-3"><h2>No Join Team Requests Yet</h2></div>
    <% } else { %>
        <% for(let player of players){ %>

            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">
                                <%= player.member.name %> Has Requested To Join <%= player.registered_team.team_name %> In Position <%=player.position%> With Jersey Number <%= player.jersey_no%>
                            </h3>
                            <p>
                                <form class="d-inline" action="/requests/<%=player.member_uuid%>" method="POST">
                                    <Button class="btn btn-success">Approve</Button>
                                </form>
                                <form class="d-inline" action="/requests/<%=player.member_uuid%>?_method=DELETE" method="POST">
                                    <Button class="btn btn-danger">Decline</Button>
                                </form>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>