<% layout("layouts/boilerplate") %>
<% layout("layouts/boilerplate") %>

    <div class="row">
        <h1 class="text-center">Update Tournament Info</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/tournaments/<%=tournament.tr_id%>?_method=PUT" method="POST" novalidate class="validated-form" enctype='application/x-www-form-urlencoded'>
                <div class="mb-3"> <label for="name" class="form-label">Name</label>
                    <input class="form-control" type="text" name="tournament[name]" id="name"
                        placeholder="Tournament Name" value="<%= tournament.tr_name %>" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="startDate" class="form-label">Start Date</label>
                    <input class="form-control" type="date" name="tournament[start_date]" id="startDate"
                    value="<%= tournament.start_date %>"autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="endDate" class="form-label">End Date</label>
                    <input class="form-control" type="date" name="tournament[end_date]" id="endDate"                    
                    value="<%= tournament.end_date %>" autofocus required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3"> <button class="btn btn-success">Update Tournament</button></div>

            </form>

            <a href="/tournaments/<%= tournament.tr_id %>">Cancel</a>
        </div>
    </div>
    