<% layout("layouts/boilerplate") %>
    
<div class="header">
<form id='myForm' action="/tournaments/<%= id %>/groups" method="POST">
    <div class="my-3">
        <button id="submitbtn" class="btn btn-success">Submit Groups</button>
    </div>
</form>
    <h3 style="display: inline;">All Teams</h3>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <h3 style="display: inline;">Group A</h3>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <h3 style="display: inline;">Group B</h3>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <h3 style="display: inline;">Group C</h3>
    &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    <h3 style="display: inline;">Group D</h3>



</div>

<div class="body">
    <div id="teams" class="droppable">
        <% for(team of teams){ %>
            <% if(team.team_group == null && team.approved == 'true'){ %>
        <div class="draggable" draggable="true">
                <div class="team-name">
                    <%= team.registered_team.team_name %>
                </div>
        </div> 
            <% } %>
        <% } %>
    </div>
    <div id="A" class="droppable">
        <% for(team of teams){ %>
            <% if(team.team_group == 'A' && team.approved == 'true'){ %>
        <div class="draggable" draggable="true">
                <div class="team-name">
                    <%= team.registered_team.team_name %>
                </div>
        </div> 
            <% } %>
        <% } %>
    </div>
    <div id="B" class="droppable">
        <% for(team of teams){ %>
            <% if(team.team_group == 'B'&& team.approved == 'true'){ %>
        <div class="draggable" draggable="true">
                <div class="team-name">
                    <%= team.registered_team.team_name %>
                </div>
        </div> 
            <% } %>
        <% } %>

    </div>
    <div id="C" class="droppable">
        <% for(team of teams){ %>
            <% if(team.team_group == 'C' && team.approved == 'true'){ %>
        <div class="draggable" draggable="true">
                <div class="team-name">
                    <%= team.registered_team.team_name %>
                </div>
        </div> 
            <% } %>
        <% } %>
    </div>
    <div id="D" class="droppable">
        <% for(team of teams){ %>
            <% if(team.team_group == 'D' && team.approved == 'true'){ %>
        <div class="draggable" draggable="true">
                <div class="team-name">
                    <%= team.registered_team.team_name %>
                </div>
        </div> 
            <% } %>
        <% } %>
    </div>

</div>
<script src="/js/groups.js"></script>