<% layout("layouts/boilerplate") %>

    <h1><%= tournament.tr_name %></h1>
      <h4> From <%= tournament.start_date %> <br>
       To <%= tournament.end_date %>
    </h4>
    <a class="card-link btn btn-info my-3" href="/tournaments/<%= tournament.tr_id%>/teams">Registered Teams</a>
    <% if(matchesData.length == 0){ %>
        <h2>No Matches are registered yet</h2>
        
        <% } else{ %>
        <% let increment = 0 %>
        <% for(let match of matchesData){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                               Match Number is <%= match.match_played.match_id %> <br>
                               On <%= match.match_played.play_date%> <br> 
                               Ended with score <%= match.match_played.goal_score %>
                            </h5>
                            <p class="card-text">
                                Referee is <%= match.match_played.referee.referee_name %>
                                Assistant is <%= match.asst_referee.asst_ref_name %>
                            </p>
                            <p class="card-text">
                                Player of the match is <%= match.match_played.member.name %> <br>
                            </p>
                            
                            <p class="card-text">
                                <%= matches[increment][0].registered_team.team_name %> VS <%= matches[increment][1].registered_team.team_name %> <br>
                            </p>
                               
                            <p class="card-text">
                                Venue is <%= venues[increment].venue_name %> <br>
                                Audience <%= match.match_played.audience%> / <%= venues[increment].aud_capacity %>
                            </p>
                            <p>
                                <a href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>">View Statstics</a>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <% increment++; %>
            <% } %>
        <% } %>