<% layout("layouts/boilerplate") %>

    <h1><%= tournament.tr_name %></h1>
      <h4> From <%= tournament.start_date %> <br>
       To <%= tournament.end_date %>
    </h4>
    <a class="card-link btn btn-info my-3" href="/tournaments/<%= tournament.tr_id%>/teams">Registered Teams</a>
    <% if(matchesData.length == 0){ %>
        <h2>No Matches are registered yet</h2>
        
        <% } else{ %>
        <% let increment = 0 %>
        <% for(let match of matchesData){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                               Match Number is <%= match.match_played.match_id %> <br>
                               On <%= match.play_date%> <br> 
                               <% if(match.status == 'in-progress'){ %>
                                Match In Progress
                                <% } else {%>
                                    Ended with score <%= match.match_played.goal_score %>
                                    <% } %>
                            </h5>
                            <p class="card-text">
                                Referee is <%= match.match_played.referee.referee_name %>
                                Assistant is <%= match.asst_referee.asst_ref_name %>
                            </p>
                            <p class="card-text">
                                <% if(match.status == 'in-progress'){ %>
                                    Player of the match will be decided after the match
                                    <% } else {%>
                                        Player of the match is <%= match.match_played.member.name %> <br>
                                        <% } %>
                            </p>
                            <p class="card-text">
                                <%= matches[increment][0].registered_team.team_name %> VS <%= matches[increment][1].registered_team.team_name %> <br>
                            </p>
                               
                            <p class="card-text">
                                Venue is <%= venues[increment].venue_name %> <br>
                                Audience <%= match.match_played.audience%> / <%= venues[increment].aud_capacity %>
                            </p>
                            <p>
                                <a class="btn btn-primary" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>">View Statstics</a>
                                <% if( match.status == 'in-progress'){ %>
                                    <div class="dropdown my-3">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Choose MVP
                                        </button>
                                        <ul class="dropdown-menu">
                                            <% if(playersData.length == 0){ %>
                                                <a href="#">No Players</a>
                                            <% } else {%>
                                                <% for(player of playersData){ %>
                                                    <form action="/teams/<%= player.team.team_uuid %>/changeManager/<%= player.member_uuid %>" method="post">
                                                        <li><button class="dropdown-item" type="submit"><%= player.member.name %></a></li>
                                                    </form>    
                                                <% } %>
                                            <% } %>
                                        </ul>
                                    </div>
                                    <div class="dropdown my-3">
                                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                          Update
                                        </button>
                                        <ul class="dropdown-menu">
                                                <a class="btn btn-info dropdown-items" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>/audience">Update Audience Number</a>
                                                <a class="btn btn-info dropdown-items my-2" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>/cards">Add Cards</a>
                                                <a class="btn btn-info dropdown-items my-2" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>/penalties">Add Penalties</a>
                                                <a class="btn btn-info dropdown-items my-2" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>/goals">Add Goals</a>
                                                <a class="btn btn-info dropdown-items my-2" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>/subs">Add new Subsitution</a>
                                        </ul>
                                    </div>
                                <form class="my-3" action="" method="post">
                                    <button class="btn btn-warning" href="/tournaments/<%= tournament.tr_id %>/matches/<%= match.match_uuid %>">End Game</button>
                                </form>
                                <% } %>
                            </p>
                            
                        </div>
                    </div>
                </div>
            </div>
            <% increment++; %>
            <% } %>
        <% } %>