<% layout("layouts/boilerplate") %>
    <div class="row">
        <div class="col-md-6">
            <div class="card mb-5 h-100">
                    <div class="card-header new">
                            <p class="card-text d-inline fs-4">
                                <strong>
                                    <a href="/teams/<%= teams[0].registered_team.team_uuid %>">
                                        <%= teams[0].registered_team.team_name %>
                                    </a>
                                </strong>
                            </p>
            </div>

            <div class="card-header fw-normal fs-4">
                <% let haveCoach1 = false %>
                <% let haveCoach2 = false %>
                <% let haveCaptain1 = false %>
                <% let haveCaptain2 = false %>

                <% if(goalsArray.length){ %>
                    <% for(let goal of goalsArray){ %>
                        <% if(goal.member.player[0].registered_team.team_uuid == teams[0].team_uuid){%>
                            <i>
                                <i class="fa-regular fa-futbol"></i>
                               <%=goal.goal_time%> <%=goal.member.name%>
                            </i><br>
                        <%} else { %>
                            <i>
                                <i class="fa-regular fa-futbol" style="color:red";></i>
                                -----
                            </i><br>
                      <% } %>
                    <%} %>
                <%} else { %>
                    <i>
                        <i class="fa-regular fa-futbol"></i>
                        No Goals Scored
                    </i><br>
             <% } %>
                <hr>
                <% if(penaltiesArray.length){ %>
                    <% for(let penalty of penaltiesArray){ %>
                        <% if(penalty.member.player[0].registered_team.team_uuid == teams[0].team_uuid){ %>
                            <i>
                            <% if(penalty.score_goal == 'N'){ %>
                                <i class="fa-regular fa-futbol" style="color:red;"></i>
                                <% } else { %>
                                <i class="fa-regular fa-futbol" style="color:black;"></i>
                            <% } %>
                            <%=penalty.member.name%><br>
                        </i>
                        <% } else { %>
                            <i>
                                <% if(penalty.score_goal == 'Y'){ %>
                                    <i class="fa-solid fa-hand" style="transform:rotate(45deg); color:red"></i>
                                    <%=penalty.penalty_gk[0].member.name%>
                                    <% } else { %>
                                        <i class="fa-solid fa-hand" style="transform:rotate(45deg); color:black"></i>
                                        <%=penalty.penalty_gk[0].member.name%>
                                    <% } %>
                            </i>
                            <br>
                        <% } %>
                        <% } %>
                    <% } else {%>
                        <i><i class="fa-regular fa-copy" style="color: black;"></i><br>
                        No Penalties in this match
                    </i>
                    <% } %>
                <hr>
                <% if(cardsArray.length){ %>
                    <% for(let card of cardsArray){ %>
                        <% if(card.member.player[0].registered_team.team_uuid == teams[0].team_uuid){ %>
                            <i>
                            <% if(card.sent_off == 'N'){ %>
                                <i class="fa-regular fa-copy" style="color:#caca23;"></i>
                                <% } else { %>
                                <i class="fa-regular fa-copy" style="color:red;"></i>
                            <% } %>
                            <%=card.member.name%><br>
                        </i>
                        <% } else { %>
                            <i>
                                <i class="fa-regular fa-flag" style="color:black"></i>
                                ------
                            </i><br>
                        <% } %>
                        <% } %>
                    <% } else {%>
                        <i><i class="fa-regular fa-copy" style="color: black;"></i><br>
                        No Cards given
                    </i>
                    <% } %>
                <hr>
                <% if(coaches.length){ %>
                    <% for(let coach of coaches){ %>
                        <% if(coach.team_uuid == teams[0].team_uuid){ %>
                            <% haveCoach1 = true %>
                        <i>
                            <i class="fa-solid fa-people-roof"></i>
                            <%=coach.member.name%>
                        </i>
                        <br>
                        <%} else {%>
                            <% if(coach == coaches[coaches.length - 1] && !haveCoach1 ){ %>                            
                            <i>
                                <i class="fa-solid fa-people-roof"></i>
                                No Coach(es) in this team
                            </i>
                            <br>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <i>
                        <i class="fa-solid fa-people-roof"></i>
                        No Coach(es) in this team
                    </i>
                <% } %>
                <hr>
                <% if(captains.length){ %>
                    <% for(let captain of captains){ %>
                        <% if(captain.member.player[0].registered_team.team_uuid == teams[0].team_uuid){ %>
                            <% haveCaptain1 = true; %>
                            <i>
                            <i class="fa-regular fa-c"></i> &nbsp;
                            <%=captain.member.name%><br>
                            </i>
                        <%} else { %>
                            <% if(captain == captains[captains.length - 1] && !haveCaptain1){ %>
                                <i>
                                    <i class="fa-solid fa-people-roof"></i>
                                    No Captain in this team
                                </i>
                             <% } %>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <i>
                        <i class="fa-solid fa-people-roof"></i>
                        No Captain in this team
                    </i>
                <% } %>
                <hr>
                <table class="table table-bordered table-hover table-striped-columns">
                    <thead>
                      <tr>
                        <th scope="col">Group</th>
                        <th scope="col"><i class="fa-solid fa-ranking-star"></i></th>
                        <th scope="col">W</th>
                        <th scope="col">D</th>
                        <th scope="col">L</th>
                        <th scope="col">+/-</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col"><%=teams[0].team_group%></th>
                        <th scope="col"><%=teams[0].group_position%></th>
                        <th scope="col"><%=teams[0].won%></th>
                        <th scope="col"><%=teams[0].draw%></th>
                        <th scope="col"><%=teams[0].lost%></th>
                        <th scope="col"><%=teams[0].goal_for%> / <%=teams[0].goal_against%></th>
                        <th scope="col"><%=teams[0].points%></th>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
        <div class="col-md-6">
            <div class="card mb-5 h-100">
                    <div class="card-header new">
                            <p class="card-text d-inline fs-4">
                                <strong>
                                    <a href="/teams/<%= teams[1].registered_team.team_uuid %>">
                                        <%= teams[1].registered_team.team_name %>
                                    </a>
                                </strong>
                            </p>
            </div>

            <div class="card-header fw-normal fs-4">
                <% if(goalsArray.length){ %>
                    <% for(let goal of goalsArray){ %>
                        <% if(goal.member.player[0].registered_team.team_uuid == teams[1].team_uuid){%>
                            <i>
                                <i class="fa-regular fa-futbol"></i>
                                <%=goal.goal_time%>'  <%=goal.member.name%>
                            </i><br>
                        <%} else { %>
                            <i>
                                <i class="fa-regular fa-futbol" style="color: red;"></i>
                                -----
                            </i><br>
                       <% } %>
                    <%} %>
                    <%} else { %>
                        <i>
                            <<i class="fa-regular fa-futbol"></i>
                            No Goals Scored>
                        </i>
              <% } %>
                <hr>
                <% if(penaltiesArray.length){ %>
                    <% for(let penalty of penaltiesArray){ %>
                        <% if(penalty.member.player[0].registered_team.team_uuid == teams[1].team_uuid){ %>
                            <i>
                            <% if(penalty.score_goal == 'N'){ %>
                                <i class="fa-regular fa-futbol" style="color:red;"></i>
                                <% } else { %>
                                <i class="fa-regular fa-futbol" style="color:black;"></i>
                            <% } %>
                            <%=penalty.member.name%><br>
                        </i>
                        <% } else { %>
                            <i>
                                <% if(penalty.score_goal == 'Y'){ %>
                                <i class="fa-solid fa-hand" style="transform:rotate(45deg); color:red"></i>
                                <%=penalty.penalty_gk[0].member.name%>
                                <% } else { %>
                                    <i class="fa-solid fa-hand" style="transform:rotate(45deg); color:black"></i>
                                    <%=penalty.penalty_gk[0].member.name%>
                                <% } %>
                            </i>
                            <br>
                        <% } %>
                        <% } %>
                    <% } else {%>
                        <i><i class="fa-regular fa-copy" style="color: black;"></i><br>
                        No Penalties in this match
                    </i>
                    <% } %>
                    <hr>
                <% if(cardsArray.length){ %>
                    <% for(let card of cardsArray){ %>
                        <% if(card.member.player[0].registered_team.team_uuid == teams[1].team_uuid){ %>
                            <i>
                            <% if(card.sentOff == 'N'){ %>
                                <i class="fa-regular fa-copy" style="color:yellow;"></i>
                                <% } else { %>
                                <i class="fa-regular fa-copy" style="color:red;"></i>
                            <% } %>
                            <%=card.member.name%><br>
                        </i>
                        <% } else { %>
                            <i>
                                <i class="fa-regular fa-flag" style="color:black"></i>
                                ------
                            </i><br>
                        <% } %>
                        <% } %>
                    <% } else {%>
                        <i><i class="fa-regular fa-copy" style="color: black;"></i><br>
                        No Cards given
                    </i>
                    <% } %>
                <hr>
                <% if(coaches.length){ %>
                    <% for(let coach of coaches){ %>
                        <% if(coach.team_uuid == teams[1].team_uuid){ %>
                            <% haveCoach2 = true %>
                        <i>
                            <i class="fa-solid fa-people-roof"></i>
                            <%=coach.member.name%>
                        </i>
                        <br>
                        <%} else {%>
                            <% if(coach == coaches[coaches.length - 1] && !haveCoach2 ){ %>                            
                            <i>
                                <i class="fa-solid fa-people-roof"></i>
                                No Coach(es) in this team
                            </i>
                            <br>
                            <% } %>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <i>
                        <i class="fa-solid fa-people-roof"></i>
                        No Coach in this team
                    </i>
                <% } %>
                <hr>
                <% if(captains.length){ %>
                    <% for(let captain of captains){ %>
                        <% if(captain.member.player[0].registered_team.team_uuid == teams[1].team_uuid){ %>
                            <% haveCaptain2 = true; %>
                            <i>
                            <i class="fa-regular fa-c"></i> &nbsp;
                            <%=captain.member.name%><br>
                            </i>
                        <%} else { %>
                            <% if(captain == captains[captains.length - 1] && !haveCaptain2){ %>
                                <i>
                                    <i class="fa-solid fa-people-roof"></i>
                                    No Captain in this team
                                </i>
                             <% } %>
                        <% } %>
                    <% } %>
                <% } else { %>
                    <i>
                        <i class="fa-solid fa-people-roof"></i>
                        No Captain in this team
                    </i>
                <% } %>
                <hr>
                <table class="table table-bordered table-hover table-striped-columns">
                    <thead>
                      <tr>
                        <th scope="col">Group</th>
                        <th scope="col"><i class="fa-solid fa-ranking-star"></i></th>
                        <th scope="col">W</th>
                        <th scope="col">D</th>
                        <th scope="col">L</th>
                        <th scope="col">+/-</th>
                        <th scope="col">Points</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="col"><%=teams[1].team_group%></th>
                        <th scope="col"><%=teams[1].group_position%></th>
                        <th scope="col"><%=teams[1].won%></th>
                        <th scope="col"><%=teams[1].draw%></th>
                        <th scope="col"><%=teams[1].lost%></th>
                        <th scope="col"><%=teams[1].goal_for%> / <%=teams[1].goal_against%></th>
                        <th scope="col"><%=teams[1].points%></th>
                      </tr>
                    </tbody>
                  </table>
            </div>
        </div>
    </div>
    </div>