<% layout("layouts/boilerplate") %>

    <div class="my-2">
        <h1><%= team.registered_team.team_name %></h1>
    </div>
    <h3>Manager</h3>
    <% if(manager.length == 0){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5>
                        No manager is registered in this team yet
                      </h5>
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Choose Manager
                        </button>
                        <ul class="dropdown-menu">
                            <% if(playersData.length == 0){ %>
                                <a href="#">No Players</a>
                            <% } else {%>
                                <% for(player of playersData){ %>
                                    <form action="/teams/<%= team.team_uuid %>/changeManager/<%= player.member_uuid %>" method="post">
                                        <li><button class="dropdown-item" type="submit"><%= player.member.name %></button></li>
                                    </form>    
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
        <% for(let mgr of manager){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                          <h5>
                            <%= mgr.member.name  %>
                          </h5>
                          <br>
                          <h5>
                            KFUPM ID: <%= mgr.member.kfupm_id  %>
                          </h5>
                          <h5>
                            Phone Number: <%= mgr.member.phone_num  %>
                          </h5>
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Choose Manager
                            </button>
                            <ul class="dropdown-menu">
                                <% if(playersData.length == 0){ %>
                                    <a href="#">No Players</a>
                                <% } else {%>
                                    <% for(player of playersData){ %>
                                        <form action="/teams/<%= team.team_uuid %>/changeManager/<%= player.member_uuid %>" method="post">
                                            <li><button class="dropdown-item" type="submit"><%= player.member.name %></a></li>
                                        </form>    
                                    <% } %>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <% } %>
        <% } %>
        <h3>Coaches</h3>
    <% if(coaches.length == 0){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                      <h5>
                        No Coaches are registered in this team yet
                      </h5>
                      <div class="dropdown">
                        <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Choose Coach
                        </button>
                        <ul class="dropdown-menu">
                            <% if(playersData.length == 0){ %>
                                <a href="#">No Coaches Available</a>
                            <% } else {%>
                                <% for(player of playersData){ %>
                                    <form action="/teams/<%= team.team_uuid %>/changeCoach/<%= player.member_uuid %>" method="post">
                                        <li><button class="dropdown-item" type="submit"><%= player.member.name %></a></li>
                                    </form>    
                                <% } %>
                            <% } %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <% } else { %>
       
        <% for(let coach of coaches){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                          <h5>
                            <%= coach.member.name  %>
                          </h5>
                          <h5>
                            KFUPM ID: <%= coach.member.kfupm_id  %>
                          </h5>
                          <h5>
                           Phone Number: <%= coach.member.phone_num  %>
                          </h5>
                          <div class="dropdown">
                            <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                              Choose Coach
                            </button>
                            <ul class="dropdown-menu">
                                <% if(playersData.length == 0){ %>
                                    <a href="#">No Coaches Available</a>
                                <% } else {%>
                                    <% for(player of playersData){ %>
                                        <form action="/teams/<%= team.team_uuid %>/changeCoach/<%= player.member_uuid %>" method="post">
                                            <li><button class="dropdown-item" type="submit"><%= player.member.name %></a></li>
                                        </form>    
                                    <% } %>
                                <% } %>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } %>
        <% } %>

        <h3>Captain</h3>
        <% if(captains.length == 0){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                          <h5>
                            <i class="fa-regular fa-c"></i> &nbsp; &nbsp;
                          No registered Captain for this team yet
                          </h5>
                        </div>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Choose Captain
                                </button>
                                <ul class="dropdown-menu">
                                    <% if(playersData.length == 0){ %>
                                        <a href="#">No Players</a>
                                    <% } else {%>
                                        <% for(player of playersData){ %>
                                            <form action="/teams/<%= team.team_uuid %>/changeCaptain/<%= player.member_uuid %>" method="POST">
                                                <li><button class="dropdown-item" type="submit"> <%= player.position %> - <%= player.jersey_no %> - <%= player.member.name %></a></li>
                                            </form>    
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                    </div>
                </div>
            </div>
        <% } else { %>
          
            <% for(let captain of captains){ %>
                <div class="card mb-3">
                    <div class="row">
                        <div class="col-md-4">
                            <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                              <h5>
                                <i class="fa-regular fa-c"></i> &nbsp; &nbsp;
                                <%= captain.member.player[0].position %> - <%= captain.member.player[0].jersey_no  %> - <%= captain.member.name  %>
                              </h5>
                              <h5>
                                KFUPM ID: <%= captain.member.kfupm_id  %>
                              </h5>
                              <h5>
                               Phone Number: <%= captain.member.phone_num  %>
                              </h5>
                            </div>
                            <div class="dropdown">
                                <button class="btn btn-info dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                  Choose Captain
                                </button>
                                <ul class="dropdown-menu">
                                    <% if(playersData.length == 0){ %>
                                        <a href="#">No Players</a>
                                    <% } else {%>
                                        <% for(player of playersData){ %>
                                            <form action="/teams/<%= team.team_uuid %>/changeCaptain/<%= player.member_uuid %>" method="post">
                                                <li><button class="dropdown-item" type="submit"> <%= player.position %> - <%= player.jersey_no %> - <%= player.member.name %></a></li>
                                            </form>    
                                        <% } %>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
        <% } %>
        <h3>Players</h3>
    <% if(playersData.length == 0){ %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            No Players are registered in this team yet
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    <% } else { %>
       
        <% for(let player of playersData){ %>
            <div class="card mb-3">
                <div class="row">
                    <div class="col-md-4">
                        <img crossorigin="anonymous" src="/images/football.jpeg" alt="" class="img-fluid w-100 h-100">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%=player.position%> - <%=player.jersey_no%> - <%=player.member.name%>
                            </h5>
                            <h5>
                                KFUPM ID: <%= player.member.kfupm_id  %>
                              </h5>
                              <h5>
                               Phone Number: <%= player.member.phone_num  %>
                              </h5>
                        </div>
                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
                            

